body,html {
        height: 100%;
        background-color: white;

    }

.chat-container {
    background-color: fffaf0;
    margin: 0px;
    align-content: center;
    height: 50%!important
  }

.chat-message {
    padding: 4px;
    border-radius: 3px;
    margin: 3px;
    max-width: 85%;
}
html, body {margin: 0; height: 100%; overflow: hidden; }

.rcorners1 {

    background:lightgrey;
    width: fit-content;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    align-self: left;
    width: -moz-fit-content;
    font-family:Courier New;
  }
  .humantext{
    border-radius: 25px;
    background:#1352BE;
    align-self: right;
    width: fit-content;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    width: -moz-fit-content;
    font-family:Courier New;
  }
.bot-message {

    color: black;
    font-style: italic;

}

    .human-message {

        color: white;
        text-align: right;
    }


    .input {
      width: 100%;
      margin: 35px 0px;
      height: 60px;
      border: 1px solid black;
      border-radius: 3px;
      padding-left: 10px;
    }

h4{
    font-family:Courier New;
}

input {
   padding-left: 10px;
}
